.card-img {
  width: 150px;
}

/* DECK INDEX STYLES */

.deck-title-container {
  display: flex; 
  align-items: center;
  padding: 0.5em;
}

.deck-title-container > * {
  margin-right: 0.7em;
}

.page-title {
  font-size: 2em;
  font-weight: 500;
}

.deck-list-container {
  display: flex;
}

.deck-container {
  margin: 0.75em;
  text-align: center;
}

.create-deck-input {
  font-size: 1.7em;
}